@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>AltSource Banking</h1>
    <p>Please See Below for Available Actions</p>
</div>

<div id="mainbox" class="row">
    <div class="col-md-offset-2 col-md-4">
        <h2>Register Account</h2>
        <p>@Html.ActionLink(HttpUtility.HtmlDecode("Register &raquo;"), "Register", "Bank", null, new { @class = "btn btn-default" })</p>
    </div>
    <div class="col-md-4">
        <h2>Login</h2>
        <p>@Html.ActionLink(HttpUtility.HtmlDecode("Login &raquo;"), "Login", "Bank", null, new { @class = "btn btn-default" })</p>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            
            var balanceLink = '@(Html.ActionLink(HttpUtility.HtmlDecode("Balance"), "Balance", "Bank", null, new { @class = "btn btn-default" }))';
            var depositLink = '@(Html.ActionLink(HttpUtility.HtmlDecode("Deposit &raquo;"), "Deposit", "Bank", null, new { @class = "btn btn-default" }))';
            var withdrawLink = '@(Html.ActionLink(HttpUtility.HtmlDecode("Widthdraw &raquo;"), "Withdraw", "Bank", null, new { @class = "btn btn-default" }))';
            var transactionLink = '@(Html.ActionLink(HttpUtility.HtmlDecode("Transactions &raquo;"), "Transactions", "Bank", null, new { @class = "btn btn-default" }))';
            var logoutLink = '@(Html.ActionLink("Logout", "Logout", "Bank"))';
            
            checkLogin(balanceLink, depositLink, withdrawLink, transactionLink, logoutLink);
        });
    </script>
}